@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
@import url(//db.onlinewebfonts.com/c/afcefa123bd07c8d885deb4c6e491258?family=GoldenbookW01-Light);

@font-face {
  font-family: "GoldenbookW01-Light";
  src: url("//db.onlinewebfonts.com/t/afcefa123bd07c8d885deb4c6e491258.eot");
  src: url("//db.onlinewebfonts.com/t/afcefa123bd07c8d885deb4c6e491258.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/afcefa123bd07c8d885deb4c6e491258.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/afcefa123bd07c8d885deb4c6e491258.woff") format("woff"), url("//db.onlinewebfonts.com/t/afcefa123bd07c8d885deb4c6e491258.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/afcefa123bd07c8d885deb4c6e491258.svg#GoldenbookW01-Light") format("svg");
}


:root {
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

.contenedor {
  background: url("https://images.unsplash.com/photo-1598928428433-1077478561d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  inset: 0;
}

.contenedor:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-header {
  position: fixed;
}

.nav-header img {
  width: 295px;
  margin-top: 3.5em;
  margin-left: 1em;
}

.header-links {
  position: fixed;
  width: 100%;
  z-index: 500;
  margin-top: -3em;
}

.header-links li {
  color: white;
  display: inline;
  float: right;
  padding: 15px;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  ;
  font-weight: 700;
  letter-spacing: .15em;
  line-height: 1.8;
}

.header-links a {
  color: white;
  font-family: Montserrat, sans-serif;
  ;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}



.benefits h1 {
  font-family: "GoldenbookW01-Light", serif;
  font-weight: 500;
  font-size: 70px;
  color: white;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  top: 2.5em;
  z-index: 1;
}


.benefits h3 {
  font-family: "GoldenbookW01-Light", serif;
  font-weight: 500;
  position: relative;
  top: 11em;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  white-space: pre-line;
  font-size: 22px;
  line-height: 1.57;
  text-align: center;
}

.bawah-arrow {
  margin-top: -20px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-bottom: 15px;
  font-size: 10px;
}

.bawah-arrow:hover,
.bawah-arrow:focus {
  text-decoration: none;
}

/* Arrow Bouncing */
.bawah-arrow span {
  display: inline-block;
  font-size: 70px;
  animation: .7s down infinite alternate;
  -webkit-animation: .7s down infinite alternate;
}

/***Animation Arrow down***/
@keyframes down {
  0% {
    transform: translateY(0px)
  }

  100% {
    transform: translateY(20px)
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0px)
  }

  100% {
    -webkit-transform: translateY(20px)
  }
}

.perks h4 {
  font-family: "GoldenbookW01-Light", sans-serif;
  font-size: 35px;
  font-weight: bold;
  position: relative;
  top: 8em;
  color: rgba(22, 45, 84, 1);
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 4em;
}

.perks {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  font-weight: 500;
  color: rgba(22, 45, 84, 1);
  letter-spacing: .1em;
  font-size: 2.26vh;
  text-align: center;
  margin-top: 13em;
  width: 100%;
}

.perks p {
  position: relative;
  top: 4em;
  text-align: center;
  padding: 150px;
  margin: 20px;
}

.perks::after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 65em;
  right: 70px;
  height: 170px;
  background-color: #000;
  width: 2px;
}


.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  position: relative;
  width: 674px;
  height: 350px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(230, 228, 228, 0.8);
}

.container img {
  position: absolute;
  width: 100%;
  height: 350px;
  left: 0;
}

.title {
  font-family: "GoldenbookW01-Light", sans-serif;
  position: absolute;
  width: 500px;
  left: 60px;
  top: 70px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.container:hover .title {
  opacity: 0;
}

.description {
  position: absolute;
  width: 500px;
  left: 65px;
  top: 48px;
  text-align: center;
  opacity: 0;
  transition: opacity .5s ease;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.container:hover .description {
  opacity: 1;
  color: rgba(22, 45, 84, 1);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.description2 {
  position: absolute;
  width: 500px;
  left: 75px;
  top: 25px;
  text-align: center;
  opacity: 0;
  transition: opacity .5s ease;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.container:hover .description2 {
  opacity: 1;
  color: rgba(22, 45, 84, 1);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.description4 {
  position: absolute;
  width: 500px;
  left: 50px;
  top: 32px;
  text-align: center;
  opacity: 0;
  transition: opacity .5s ease;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.container:hover .description4 {
  opacity: 1;
  color: rgba(22, 45, 84, 1);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.site-footer {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(22, 45, 84, 1);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.site-footer hr {
  border-top-color: #9D6C38;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  font-family: "GoldenbookW01-Light", sans-serif;
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 11em;
  margin-top: 2em;
  position: relative;
  left: 1em;
}


.site-footer a {
  color: rgba(223, 190, 106, 0.7);
  ;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: transparent;
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: rgba(223, 190, 106, 0.7);
  ;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}

.btncont {
  flex-wrap: wrap;
  position: relative;
}

.btn {
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  color: rgba(223, 190, 106, 0.7);
  border-radius: 0;
  padding: 18px 80px 20px;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgba(223, 190, 106, 0.8), rgba(146, 111, 52, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  position: relative;
  left: 45em;
  top: -5em;
  border: none;
  border: 1px solid rgba(223, 190, 106, 0.3);
}

.btn:hover {
  color: #fff;
  border: 1px solid rgba(223, 190, 106, 0);
  color: white;
  background-position: 99% 50%;
}